<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Users with Templates</title>
</head>

<body>
    <div class="row justify-content-center">
        <h1>All the Users</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 tbm u-list">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                </thead>
                {% for u in users %}
                <tbody>
                    <tr>
                        <td>{{ u.id }}</td>
                        <td>{{ u.first_name }} {{ u.last_name }}</td>
                        <td>{{ u.email_name }}</td>
                        <td>{{ u.age }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 tbm">
            <h1>Add a User</h1>
            <form class="form-inline justify-content-between" action="/user_create" method="POST">
                {% csrf_token %}
                <label for="first_name">First Name: </label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="first_name" name="first_name">
                <label for="last_name">Last Name: </label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="last_name" name="last_name">
                <label for="email" class="mr-2">Email: </label>
                <input type="text" class="form-control mb-2 mr-sm-2 ml-1" id="email" name="email_name">
                <label for="Age">Age: </label>
                <input type="number" class="form-control mb-2 mr-sm-2" id="Age" name="age">
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>